.weather-dashboard {
    display: flex;
    justify-content: center;
}


.city-name {
    background-color: lightskyblue;
}

.btn {
    background-color: rgb(228, 95, 146);
}

.weather-data {
    background-color: mediumspringgreen;
}

.container {
    background-color: orchid;
}

.five-day {
    display: flex;
    justify-content: space-evenly;   
};


